@model HotelWebApp.Models.Room

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Habitacion</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxGuests" class="control-label"></label>
                <input asp-for="MaxGuests" class="form-control" />
                <span asp-validation-for="MaxGuests" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.HotelId, "Hotel")
                @Html.DropDownListFor(model => model.HotelId, (SelectList)ViewBag.HotelList, "Seleccione un hotel", new { @class = "form-control", name = "HotelId"  })
            </div>
            <!-- Campo oculto para enviar el ID del hotel -->
               @Html.HiddenFor(model => model.HotelId)
               
             
                
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />             
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
