@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Bienvenidos a la Web de los Hoteles </p>
    <div class="principal"> <img src="~/img/Hotel.png" /></div>
</div>

